.App-container {
  width: 100%;
  height: 100%;
}

.List-Container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.mobile {
  display: none;
}

@media (max-width: 576px) {
  .createWindow {
    display: none;
  }
  .App-container {
    margin: 0;
  }
  .listWindow {
    width: 100%;
  }
}

/* #modal {
  animation-name: fadeHide;
  animation-duration: 4s;
} */
