.CreateTaskWindow {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.651) 0%,
    rgba(255, 255, 255, 0.884) 76%
  );

  border: 0px;
  border-radius: 20px 20px 0px 0px;
  margin-top: 20px;
}

.CreateTaskWindow button:hover {
  transform: scale(1.05);
}
.CreateTaskWindow button {
  margin-left: 50px;
  width: 25%;
}

.CTW-Input {
  width: 80%;
}

.CTW-title {
  padding-top: 50px;
  font-size: 37px;
  font-weight: 500;
}

.CTW-sub {
  padding-top: 50px;

  font-size: small;
  font-weight: 700;
}

.CTW-img {
  flex-grow: 1;
  background-image: url('../../../public/portada.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.customToast {
  animation-name: fadeHide;
  animation-duration: 1s;
}
@keyframes fadeHide {
  from {
    display: block;
  }
  to {
    display: none;
  }
}

@media (max-width: 576px) {
  .CreateTaskWindow {
    background: rgba(194, 157, 157, 0.4);
    border-radius: 10px;

    /* background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.651) 0%,
      rgba(255, 255, 255, 0.884) 76%
    );
   */

    margin-top: 0px;
  }

  .CTW-title {
    padding-top: 10px;
    font-size: 2rem;
    background-color: rgba(245, 222, 200, 0.794);
    border-radius: 10px;
  }

  .CTW-sub {
    padding-top: 0px;
  }
  .CreateTaskWindow button {
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 20px;
  }
}
