.App-container {
  width: 100%;
  height: 100%;
}

.List-Container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
